bin/
nltk_data
src/

.aws
.azure
.bash_history
.cache
.cargo
.config
.dbus
.deno
.docker
.dotnet
.fly
.gitconfig
.ipython
.lesshst
.local
.motd_shown
.mozilla
.ngrok
.node
.node_repl_history
.npm
.nvm
.pki
.pm2
.pm2-dev
.psql_history*
.rustup
.sqlite_history
.sqlite_history
.ssh
.sudo_as_admin_successful
.supabase
.vscode-server
.wget-hsts
.yarn
.yarnrc